<div class="col-md-6 offset-md-3">
    <h3> Traiter réclamation </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Titre</label>
            <input type="text" class ="form-control" id = "titre" disabled
                [(ngModel)] = "employee.titre" name = "titre">
        </div>
    
        <div class="form-group">
            <label> Contenu</label>
            <input type="text" class ="form-control" id = "contenu" disabled
                [(ngModel)] = "employee.contenu" name = "contenu">
        </div>
    
        <div class="form-group">
            <label> Capture</label>
            <img [src]="url" class="img-responsive" height="200" width="300">
        </div>
        <div class="form-group">
            <label> Status</label>
            <input type="text" class ="form-control" id = "status" 
                [(ngModel)] = "employee.status" name = "status">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 