<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <img src="//i.ibb.co/vvVCP4s/logo-small-Copie.png" />
    <!-- <a href="#" class="navbar-brand">JMLesSous</a> -->
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Accueil</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Gestion des comptes bancaires</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/register" class="nav-link" routerLink="register">Gestion Utilisateurs</a>
      </li>

      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/reclamation-admin" class="nav-link" routerLink="reclamation-admin">Gestion Reclamations</a>
      </li>

      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
      <li class="nav-item" *ngIf="showUserBoard">
        <a href="/user" class="nav-link"  routerLink="user">User</a>
      </li>
    
      <li class="nav-item" *ngIf="showUserBoard">
        <a href="/reclamations" class="nav-link"  routerLink="reclamations">Consulter réclamations</a>
      </li>
      <li class="nav-item" *ngIf="showUserBoard">
        <a href="/create-reclamation" class="nav-link"  routerLink="create-reclamation">Envoyer une réclamation</a>
      </li>>
    
    
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">

      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
      <button mat-icon-button class="white-icon" [matMenuTriggerFor]="menu" >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <center><label> {{User.firstname}}  {{User.lastname}}</label></center>
        <button mat-menu-item href="/password" routerLink="password"> 
          <mat-icon>update</mat-icon>
          <span>Changer mot de passe</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>remove_circle_outline</mat-icon>
          <span>Se déconnecter</span>
        </button>

      </mat-menu></li>
      <!-- <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li> -->
    </ul>
  </nav>
  

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
