<div class="container" *ngIf="currentUser; else loggedOut">
  <!-- <header >
    <h3>
    Bienvenue <strong>{{ user.firstname }} {{ user.firstname }}</strong> !
      <br>
    </h3>
  </header> -->

  <table  cellspacing="0">
   
    <th>
    <tr>
      <h4>Email</h4>
    </tr>
    <mat-form-field class="example-full-width" appearance="fill">
      <input type="email" matInput [formControl]="emailFormControl" [(ngModel)]="user.email" value="{{ user.email }}">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <tr>
      <h4>Password</h4>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput type="password"  [(ngModel)]="user.password" value="{{ user.password }}">
      </mat-form-field>
    </tr> 
    <tr>
      <h4>Nom</h4>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput [(ngModel)]="user.lastname" value="{{ user.lastname }}">
      </mat-form-field>
    </tr>
    <tr>
      <h4>Prenom</h4>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput [(ngModel)]="user.firstname" value="{{ user.firstname }}">
      </mat-form-field>
    </tr>
        
  </th>
  <th>
  </th>
<th>
    <tr>
      <h4>Etat civile</h4>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-select value="{{ user.etatcivile }}" [(ngModel)]="user.etatcivile" name="etatcivile" >
          <mat-option *ngFor="let etatcivile of etat" [value]="etatcivile.value">
            {{etatcivile.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </tr>
    <tr>
      <h4>Résidence</h4>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-select value="{{ user.residence }}" [(ngModel)]="user.residence" name="residence" >
          <mat-option *ngFor="let res of residence" [value]="res.value">
            {{res.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </tr>
    <tr>
      <h4>Téléphone</h4>
      <mat-form-field class="example-full-width" appearance="fill">
        <span matPrefix>+216 &nbsp;</span>
        <input type="tel" matInput placeholder="12-345-678" [(ngModel)]="user.phonenumber" value="{{ user.phonenumber }}">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </tr>
    <tr>
      <h4>Date de naissance</h4>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput [matDatepicker]="picker" value="{{user.birthdate}}"  required  [(ngModel)]="user.birthdate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </tr>
  </th>
<tr>
  <button mat-raised-button (click)="updateUser()" color="primary">Sauvegarder</button>
</tr>
</table>

</div>

<ng-template #loggedOut  >
  
  Please login.
</ng-template>
