<div class="container" *ngIf="currentUser; else loggedOut">

    <h4>Password</h4>
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput type="password"  [(ngModel)]="pw" value="{{ user.password }}">
    </mat-form-field>
    {{ pw }}
    {{ user.username }}
    <button mat-raised-button color="primary" class="button1" (click)="updatepassword(user.username,pw)" type="button" > Changer mot de passe !  </button>

</div>
<ng-template #loggedOut >
    Connectez vous ? 
    <a href="/login">Oui !</a> <a href="/home">Non !</a>
</ng-template>